footer {
    height: 90px;
    display: flex;
    align-items: center;
    /* background: #000; */
    margin-top: 10px;
}

.nav .nav-link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #181818;
}
.ft-header {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
}
