footer {
    height: 90px;
    display: flex;
    align-items: center;
    /* background: #000; */
    margin-top: 10px;
}

.nav .nav-link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #181818;
}
.ft-header {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
}

@media (max-width: 576px) {
   
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media (min-width: 576px) and (max-width: 768px) {
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 992px) {
     

  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1200px) {
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media (min-width: 1200px) {
  }