#home-section-1 .header-1 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
}
#home-section-1 .green {
  color: var(--green);
  text-decoration: underline;
}
#home-section-1 .header-2 {
  color: var(--gray);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
#home-section-2 .card-title {
  color: var(--black);
  font-weight: 400;
  font-size: 28px;
}
#home-section-2 .card-subtitle {
  font-weight: 400;
  font-size: 18px;
  color: var(--gray);
}
#home-section-2 .card {
  background-color: var(--f6);
  border: none;
  height: 400px;
  border-radius: 8px;
}
#home-section-2 .card-header {
  background-color: var(--f6);
}

#home-section-4 .crd-2 {
  width: 400px;
  height: 325px;
}
#home-section-4 .sm {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--gray);
  background-color: #fff;
  border-radius: 8px;
}
#home-section-4 .card-footer .small {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--green);
}
#home-section-4 .card-body .img {
  width: 100%;
  height: 80%;
}

#home-section-1 .header-3,
#home-section-2 .header-3,
#home-section-3 .header-3,
#home-section-4 .header-3 {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: var(--black);
  text-transform: uppercase;
}
.small {
  font-weight: 400;
  font-size: 16px !important;
  color: var(--gray);
  margin-top: 10px;
  margin-right: 3rem;
}

/* Media query */
/* Extra small devices (phones, 600px and down) */
@media (max-width: 576px) {
  #home-section-2 .card {
    width: 78%;
    margin: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 576px) and (max-width: 768px) {
  #home-section-2 .card-title {
    font-size: 20px;
  }
  #home-section-2 .card-subtitle {
    font-size: 15px;
  }
  #home-section-2 .card {
    height: 340px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  #home-section-2 .card-title {
    font-size: 20px;
  }
  #home-section-2 .card-subtitle {
    font-size: 15px;
  }
  #home-section-2 .card {
    height: 300px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
}
