/* #news-carousel {
    position: relative;
} */
#news-carousel .carousel-icon {
    position: absolute;
    background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    right: 0;
    width: 145px;
    height: 268px;
    display: flex;
    align-items: center;
    justify-content: end;
}
#news-carousel .carousel-icon .icon {
    cursor: pointer;
    margin-right: 15px;
}

#news-carousel .text-card {
    width: 100%;
    height: 135px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 8px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    padding: 15px;
    /* justify-content: center; */
}
#news-carousel .text-card p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

#news-about .news-back {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 8px;
    width: 100%;
    height: 80%;
    bottom: 0;
}
#news-about .news-text .news-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}
#news-about .news-text .news-description {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
#news-about .news-text .news-date {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--grayone);
}

/* news latest design */
#news-latest .card-block {
    background: #515151;
    border-radius: 8px;
    height: 225px;
}
.footer-back-none {
    background: none !important;
}
#news-latest .card-footer .card-title p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #181818;
}
#news-latest .card-footer .card-subtitle small {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--gray);
}
#news-latest .news-latest-text .news-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
    margin-top: 12px;
}
#news-latest .news-latest-text .news-span,
#news-latest .news-latest-text .news-p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

/* News subscribe */

#news-subscribe {
    background: var(--green);
    height: 220px;
    /* display: flex; */
}
#news-subscribe .news-s-image {
    height: 100%;
    width: 415px;
    /* background: #000; */
}
#news-subscribe .news-form .news-form-title p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}
#news-subscribe .news-form .news-form-input {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    height: 50px;
}
#news-subscribe .news-form .news-form-input .input-btn {
    background: none;
    border: none;
    background-color: var(--white);
    border-radius: 8px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--green);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
